<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fidelitycardsapp">
<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FidelityCardsApp">
        <activity
            android:name=".EditDiscount"
            android:exported="false" />
        <activity
            android:name=".ShowDiscounts"
            android:exported="false" />
        <activity
            android:name=".ShowPartners"
            android:exported="false" />
        <activity
            android:name=".ShowUsers"
            android:exported="false" />
        <activity
            android:name=".ShowCards"
            android:exported="false" />
        <activity
            android:name=".AboutPage"
            android:exported="false" />
        <activity
            android:name=".InsertDiscount"
            android:exported="false" />
        <activity
            android:name=".InsertPartner"
            android:exported="false" />
        <activity
            android:name=".InsertUser"
            android:exported="false" />
        <activity
            android:name=".InsertCard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>